// Quarto Reveal.js Title Slide Styles
/*-- scss:rules --*/
#title-slide {
     text-align: left;
     .quarto-title-authors {
       justify-content: left;
       .quarto-title-author {
         padding-left: 0;
         padding-right: 0;
         width: 100%;
       }
     }
   }
/*-- scss:defaults --*/